.history-element {
  font-size: 16px;
  color: white;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;

  &:hover {
    text-decoration: dotted underline;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.home-logo {
  color: white;
  text-decoration: none;
  font-size: 48px;
  cursor: pointer;
  border-radius: 8px;
  margin: 16px;

  text-align: center;
  vertical-align: middle;
  font-family: var(--font-poppins);

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
