.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  position: relative;
  padding: 0 16px;
  max-width: var(--max-width);
  margin: 0 auto;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
  font-size: 1.2;
  text-align: center;

  span {
    display: inline-block;
    transition: transform 200ms;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }

  p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 80ch;
  }
}

.main::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 900px;
  height: 600px;
  margin-left: -200px;
  z-index: -2;
  animation: slidearound 23s ease-in-out infinite;
}

.main::after {
  background: var(--primary-glow);
  width: 480px;
  height: 350px;
  margin-left: 150px;
  z-index: -1;
  animation: slidearound 17s ease-in-out infinite;
}

.main::before,
.main::after {
  content: "";
  left: 50%;
  top: 50%;
  position: fixed;
  filter: brightness(0.5) blur(45px);
  transform: translate(-50%, -50%) translateZ(0);

  @media (prefers-reduced-motion) {
    & {
      animation: none;
    }
  }
}

// animate both the vertical and horizontal animations at the same time at different speeds
@keyframes slidearound {
  0% {
    transform: translate(calc(-50% - 100px), calc(-50% + 80px)) translateZ(0);
  }
  25% {
    transform: translate(calc(-50% - 80px), calc(-50% - 80px)) translateZ(0);
  }
  50% {
    transform: translate(calc(-50% + 120px), calc(-50% - 100px)) translateZ(0);
  }
  75% {
    transform: translate(calc(-50% + 80px), calc(-50% + 50px)) translateZ(0);
  }
  100% {
    transform: translate(calc(-50% - 100px), calc(-50% + 80px)) translateZ(0);
  }
}

.logo {
  position: relative;
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
